<md-content layout-align="center" flex class="md-default-theme" ng-cloak>
    <div class="help" ng-if="!error">
        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <h2>Introduction</h2>
            <md-divider></md-divider><br>
            <p>TODO</p>
        </md-subheader>

        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <h2>Storage</h2>
            <md-divider></md-divider><br>
            <p>All Moonboard and search data is cached on your local device.  The first time you visit (or search), that crag's database will be downloaded and saved locally.  All subsequent operations related to that crag will use your local copy of its database.  Page templates (crag, area and route/problem) are also cached for up to ten days.  Caching everything locally reduces bandwidth usage, provides a faster experience on poor connections and allows you to use Beta offline.  To use Beta offline, simply visit the crags you want to use offline along with at one area and one route so that all page templates are cached.  Download on WiFi at home and you're good to go at the crag!</p>

            <p>The crag databases are lightweight (the vast majority are less than 500kb uncompressed) and automatically update in the background, so there is no need for you to worry about managing your storage.</p>
        </md-subheader>

        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <h2>Search</h2>
            <md-divider></md-divider><br>
            <p>The search bar allows you to search for a crag, area, route or problem by name, providing matching results in real time.  You can also use a variety of commands to filter the results by crag, grade, type or number of pitches.  Search results are pulled from your device's local storage so you never have to wait.</p>

            <h3>Commands</h3>
            <table cellpadding="0" cellspacing="6">
                <tbody>
                    <tr><td><pre>&nbsp;&nbsp;<strong>/</strong>&nbsp;&nbsp;</pre></td><td>Activate the search bar if it's not currently focused.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@g</strong>&nbsp;&nbsp;</pre></td><td>Set the search to the global scope.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@$crag</strong>&nbsp;&nbsp;</pre></td><td>Set the search scope to the specified $crag.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>$grade</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems matching the YDS/Hueco $grade.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>&lt;$grade</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems no harder than the YDS/Hueco $grade.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>&gt;$grade</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems at least as hard as the YDS/Hueco $grade.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>p$pitches</strong>&nbsp;&nbsp;</pre></td><td>Show routes with the exact number of $pitches.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>&lt;p$pitches</strong>&nbsp;&nbsp;</pre></td><td>Show routes with no more than the number of $pitches.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>&gt;p$pitches</strong>&nbsp;&nbsp;</pre></td><td>Show routes with at least the number of $pitches.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>-$type</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems tagged with the specified $type.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>\$type</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems tagged with the specified $type.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>?$type</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems tagged with the specified $type.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>!$type</strong>&nbsp;&nbsp;</pre></td><td>Show routes/problems that are not tagged with the specified $type.</td></tr>
                </tbody>
            </table>


            <h3>Examples</h3>
            <table cellpadding="0" cellspacing="6">
                <tbody>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@g</strong>&nbsp;&nbsp;</pre></td><td>Show all crags, routes and problems.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@g happy</strong>&nbsp;&nbsp;</pre></td><td>Show crags, routes and problems with 'happy' in their name.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>-s &gt;5.9-</strong>&nbsp;&nbsp;</pre></td><td>Show sport routes graded 5.9- and harder at the current crag.</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>-t p1 &gt;5.8</strong>&nbsp;&nbsp;</pre></td><td>Show single-pitch trad routes graded 5.8 and harder at the current crag.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>&gt;5.8 &lt;5.10</strong>&nbsp;&nbsp;</pre></td><td>Show routes graded between 5.8 and 5.10d.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@g -t &lt;5.10</strong>&nbsp;&nbsp;</pre></td><td>Show trad routes graded 5.10d and easier at all crags (global scope).</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@g -s -a</strong>&nbsp;&nbsp;</pre></td><td>Show routes that are tagged sport and aid at all crags.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@sm -s !t</strong>&nbsp;&nbsp;</pre></td><td>Show sport routes not tagged as trad at Smith Rock.</td>
                    <tr><td><pre>&nbsp;&nbsp;<strong>@sm -s &gt;p2</strong>&nbsp;&nbsp;</pre></td><td>Show multi-pitch sport routes at Smith Rock.</td>
                </tbody>
            </table>

            <h3>Scope</h3>
            <p>By default, the search is scoped to the current crag, or global if there is no valid crag, e.g. searching from this help page will default to the global scope.  The search's scope can be changed using the <code>@$crag</code> command, where <code>$crag</code> is the scope shortcut of the crag you want to search, e.g. <code>@sm</code> for Smith Rock.  The global scope can be activated via <code>@g</code>.  Scope shortcuts for each crag can be found on the crag's main page.  To keep the results readable, only crags and routes are shown at global scope, areas are omitted.</p>

            <h3>Grade</h3>
            <p>Search results can be filtered to a specific grade simply by typing in the grade, e.g. <code>5.9</code> or <code>v6</code>.  For grades 5.10 and above the letter grade can be omitted to show all routes in the numeric grade range, e.g. <code>5.12</code> will show 5.12a, 5.12b, 5.12c and 5.12d routes, whereas <code>5.12c</code> will only show 5.12c routes.  The grade command only recognizes YDS and Hueco grades.</p>

            <p>To show a range of grades, prefix the grade with <code>&lt;</code> or <code>&gt;</code> to specify a minimum or maximum grade respectively.  You can specify both a minimum and maximum grade (separate commands) to show a specific range of grades, e.g. <code>&gt;5.10 &lt;5.11</code> to show all routes between 5.10a and 5.11d.  Note that the minimum and maximum grades are inclusive, i.e. <code>&lt;5.9</code> includes 5.9 in the results.</p>

            <h3>Pitches</h3>
            <p>Search results can be filtered to show routes with a specific number of pitches using the <code>p$pitches</code> command, where <code>$pitches</code> is the number of pitches to filter by, e.g. <code>p1</code> to show only single pitch routes.  As boulder problems do not have a pitches property, the pitches command will automatically exclude all boulder problems.</p>

            <p>Like the grade command, prefix the pitch command with <code>&lt;</code> or <code>&gt;</code> to specify a minimum or maximum number of pitches respectively.  You can specify both a minimum and maximum number of pitches (separate commands) to show a specific range, e.g. <code>&gt;2 &lt;5</code> to show all routes with at least two pitches but no more than five pitches.  Note that the minimum and maximum number of pitches are inclusive, i.e. <code>&lt;3</code> includes routes with three pitches in the results.</p>

            <h3>Type</h3>
            <p>Search results can be filtered to include only specific types of routes via the type command <code>-$t</code>, where <code>$t</code> is a single character type shortcut, e.g. <code>-t</code> to include only trad routes in the results.  To exclude a specific type, use the anti-type command <code>!$t</code>, e.g. <code>!s</code> to exclude sport routes from the results.  The type shortcuts for both including and excluding types are:</p>

            <table cellpadding="0" cellspacing="1">
                <tbody>
                    <tr><td><pre>&nbsp;&nbsp;<strong>b</strong></pre></td><td>Boulder</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>s</strong></pre></td><td>Sport</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>t</strong></pre></td><td>Trad</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>a</strong></pre></td><td>Aid</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>r</strong></pre></td><td>Top Rope</td></tr>
                </tbody>
            </table>
            <br>
            <p>To provide easier-to-reach key commands on various smartphone keyboards, the type command recognizes several alternative syntaxes to the dash: <code>?</code> and <code>\</code>, e.g. <code>?s</code> or <code>\s</code> to show only sport routes.  There is no alternative syntax for the anti-type command.</p>

            <p>Up to two (anti-)type commands can be specified to restrict the results to routes that satisfy both type commands, e.g. <code>-t -a</code> will match only routes that are tagged as both Trad and Aid routes, and <code>-s !t</code> will show sport routes while excluding routes that are also tagged as trad, i.e. don't show sport routes that require gear for some sections.</p>
        </md-subheader>

        <md-subheader class="md-no-sticky md-accent" ng-cloak>
            <h2>Go</h2>
            <md-divider></md-divider><br>

            <p>The Go API provides the ability to perform inline searches in your browser's location bar.  Go does not return a list of results but rather redirects to the first matching result, à la Google's "I'm Feeling Lucky".  Go is available at <code>http://moon.zombull.xyz/go?q=%s</code>, where <code>%s</code> is the query to perform a search on.  To redirect to the associated Mountain Project page instead of the Beta page, add the query string parameter <code>mp=1</code> to the request.</p>

            <p>Go currently does not support any specialized commands, though areas and route names are prefixed with their crag name so searches can be scoped to some extent by prepending some or all of the crag name.  Basic wildcards are supported (? for a single character, * for zero to N characters) and are useful when prefacing the search with the crag name.  The search will look for matches anywhere in the crag/area/route name so wildcards are only necessary when specifying non-contiguous portions of the name.  Similar to the in-app search, results are prioritized to return crags first, areas second and routes last.</p>

            <h3>Search Engines</h3>
            <p>The Go API is intended to be used for custom search engines in your browser (instructions for <a href="https://support.google.com/chrome/answer/95426?hl=en" target="_blank">Chrome</a> and <a href="http://www-archive.mozilla.org/docs/end-user/keywords.html" target="_blank">Firefox</a>).  For example, you might bind the keyword <strong>b</strong> to <code>http://moon.zombull.xyz/go?q=%s</code>, and the keyword <strong>mp</strong> to <code>http://moon.zombull.xyz/go?mp=1&q=%s</code>.</p>

            <h3>Examples</h3>
            <p>The examples below are from Chome with the keyword <strong>b</strong> bound to search and redirect to Beta, and the keyword <strong>mp</strong> bound to search Beta and redirect to Mountain Project.  The left column contains the location bar query while the right column details the resulting URL.</p>

            <table cellpadding="0" cellspacing="1">
                <tbody>
                    <tr><td><pre>&nbsp;&nbsp;<strong>b bu</strong></pre></td><td>http://moon.zombull.xyz/buttermilks</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>mp bu</strong></pre></td><td>http://www.mountainproject.com/v/buttermilks-main/106132808</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>b milker</strong></pre></td><td>http://moon.zombull.xyz/buttermilks/buttermilker</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>mp milker</strong></pre></td><td>http://www.mountainproject.com/v/buttermilker/109630293</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>b happy</strong></pre></td><td>http://moon.zombull.xyz/happyboulders</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>b happy*happy</strong></pre></td><td>http://moon.zombull.xyz/happyboulders/a/happyboulder</td></tr>
                    <tr><td><pre>&nbsp;&nbsp;<strong>b smith*happy</strong></pre></td><td>http://moon.zombull.xyz/smithrock/slabhappy</td></tr>
                </tbody>
            </table>

        </md-subheader>

        <br><br><br><br><br><br>
    </div>
    <div class="layout" ng-if="error" ng-include="'partials/error.html'"></div>
</md-content>