html {
    font-size: 15px;
    letter-spacing: 0.010em;
}

body{
    overflow-y: scroll;
}

#main {
    max-width: 864px;
    padding: 0;
    margin: 0 auto;
    width: auto;
}

#index {
    color: black;
}

.md-headline {
    font-family: 'V5 Bloques', Roboto, 'Helvetica Neue', sans-serif;
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.1em;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.1em;
}

.md-subheader {
    font-size: 1.0rem;
    line-height: 1.25em;
}

a {
    text-decoration: none;
}

a:not(#index) {
    color: #00EFDE;
    /* color: rgb(3,169,244); crux */
}

.red, a:not(#index):hover, #index:hover {
    color: #FF3900;
    /* color: rgb(255,110,64); // crux */
}

.md-subheader-content > div, td {
    color: rgba(0, 0, 0, 0.87);
    padding-right: 2em;
}

.help h2, .help h3 {
    margin-bottom: .5em;
}

.help .md-subheader-inner {
    padding-bottom: .5em;
}

.help .md-subheader-content :not(h2):not(h3) {
    color: rgba(0, 0, 0, 0.87);
    margin-top: 0;
}

.help .md-subheader-content {
    font-weight: 400;
}

.help pre {
    display: inline;
}

.help p code {
    background: rgba(0, 0, 0, 0.0666);
}
